.collection-recipe * {
  font-family: F37Jan;
}

.collection-recipe .collection-recipe__button-wrapper.mobile {
  display: none;
}

.collection-recipe__mobile-filters {
  position: fixed;
  background-color: #f1ede7;
  height: 100%;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  display: none;
}

.collection-recipe__mobile-filters-header {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.collection-recipe__mobile-block {
  display: flex;
  margin-bottom: 17px;
  margin-top: 50px;
  padding-left: 30px;
  align-items: flex-end;
  gap: 12px;
  align-items: center;
}

.collection-recipe__mobile {
  display: block;
  overflow: auto;
  margin-bottom: 16px;
}

.collection-recipe__mobile-header {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.collection-recipe__mobile-header:has(input:checked) .ResetFilters {
  display: initial;
}

.collection-recipe__mobile-footer {
  text-align: center;
  padding: 14px;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  gap: 16px;
}

.collection-recipe__mobile-filters.active {
  display: initial;
}

.collection-recipe .collection-recipe__section-title {
  position: relative;
  padding-block: 20px;
}

.collection-recipe .collection-recipe__section-title-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-recipe .collection-recipe__section-title-bg-image.only-mobile {
  display: none;
}

.collection-recipe .collection-recipe__section-title h2,
.collection-recipe .collection-recipe__section-title .h2 {
  margin: 0;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 1.5px;
  color: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  text-align: center;
}

.collection-recipe .collection {
  min-height: unset;
}

.collection-recipe .search__form {
  position: relative;
  margin-inline: auto;
}

.collection-recipe .search__input:hover,
.collection-recipe .search__input {
  background: rgb(var(--color-background));
}

.collection-recipe .search__form .search__results {
  position: absolute;
  background: #fff;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 8px);
  padding: 32px;
  border-radius: 6px;
}

.collection-recipe .collection-recipe__grid {
  display: flex;
  overflow-x: scroll;
  gap: 32px;
  margin-inline: auto;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
  padding-bottom: 8px;
}

.collection-recipe .collection-recipe__block {
  display: flex;
  gap: 48px;
  padding-block: 36px;
}

.collection-recipe .collection-recipe__block .collection-recipe__filters {
  min-width: 290px;
}

.collection-recipe__mobile-filters .collection-recipe__filters-wrapper,
.collection-recipe
  .collection-recipe__block
  .collection-recipe__filters-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.collection-recipe .collection-recipe__block .Recipes__Wrapper {
  min-width: 0;
  position: relative;
}

.collection-recipe .collection-recipe__product-block {
  min-width: 230px;
}

.collection-recipe .collection-recipe__product-block img {
  width: 100%;
}

.collection-recipe__mobile-filters .accordion .collection-recipe__list-heading,
.collection-recipe .accordion .collection-recipe__list-heading,
.collection-recipe .collection-recipe__item,
.collection-recipe .collection-recipe__filters-heading {
  padding-inline: 14px;
}

.collection-recipe__mobile-filters .accordion,
.collection-recipe .accordion {
  padding-inline: 0;
  border-radius: 0;
  margin-bottom: 0;
  background: none;
}

.collection-recipe__mobile-filters .collection-recipe__list-heading,
.collection-recipe .accordion .collection-recipe__list-heading {
  padding-block: 10px;
  padding-right: 11px;
  display: flex;
  justify-content: space-between;
}

.collection-recipe__mobile-filters .collection-recipe__item .input-wrap,
.collection-recipe .collection-recipe__item .input-wrap {
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-block: 5px;
}

.collection-recipe__mobile-filters .collection-recipe__item .input-wrap {
  padding-left: 12px;
  padding-right: 10px;
}

.collection-recipe__mobile-filters
  .collection-recipe__filters-wrapper
  > .collection-recipe__filters-list
  .input-wrap,
.collection-recipe
  .collection-recipe__filters-wrapper
  > .collection-recipe__filters-list
  .input-wrap {
  margin-block: 0;
}

.collection-recipe .checkmark {
  display: none !important;
}

.collection-recipe .recipe-recommended__product-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  min-height: inherit;
}

.collection-recipe .recipe-recommended__product-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.collection-recipe .recipe-image__Wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}

.collection-recipe .recipe-image__Wrapper > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
  position: absolute;
  top: 0;
}

.collection-recipe .recipe-recommended__product-card img {
  transition: all 0.5s;
}

.collection-recipe .recipe-recommended__product-card:hover img {
  transform: scale(1.1);
}

.collection-recipe .recipes-video-icon {
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.collection-recipe .recipe-recommended__product-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 9px 18px;
}

.collection-recipe .recipe-recommended__product-title {
  font-size: 18px;
  font-weight: 400;
  min-height: 55px;
  margin-bottom: 26px;
}

.collection-recipe .recipe-recommended__product-total {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.collection-recipe .recipe-recommended__product-time {
  max-width: 90%;
  color: #979797;
  font-family: F37Jan;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: block;
}

.collection-recipe .collection-recipe__title {
  margin-bottom: 20px;
}

.collection-recipe .collection-recipe__content {
  margin-bottom: 32px;
}

.collection-recipe .filters__loader {
  display: none;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.collection-recipe .filters__loader svg {
  display: block;
  width: 48px;
  height: 48px;
  animation: spin infinite 0.75s;
}

.collection-recipe .RecipeResults__Grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.collection-recipe .RecipeResults__GridItem {
  width: 25%;
  margin-bottom: 57px;
  padding: 0 10px;
}

.collection-recipe.loading .filters__loader {
  display: block;
}

.collection-recipe.loading .collection-recipe__block {
  pointer-events: none;
}

.collection-recipe.loading .collection-recipe__Results,
.collection-recipe.loading .collection-recipe__wrapper {
  opacity: 0;
}

@media (max-width: 1280px) {
  .collection-recipe .RecipeResults__GridItem {
    width: 33.33%;
  }
}

@media (max-width: 990px) {
  .collection-recipe .collection-recipe__filters {
    display: none;
  }

  .collection-recipe .collection-recipe__button-wrapper.mobile {
    display: flex;
    justify-content: center;
    padding-top: 24px;
  }
}

@media (max-width: 768px) {
  .collection-recipe .collection-recipe__section-title-bg-image {
    display: none;
  }

  .collection-recipe .collection-recipe__section-title-bg-image.only-mobile {
    display: block;
  }

  .collection-recipe .search-form__input {
    padding-right: 24px;
    padding-left: 48px;
    width: 320px;
  }

  .collection-recipe .recipe-recommended__product-title {
    font-size: 18px;
    margin-bottom: 20px;
    min-height: 58px;
  }

  .collection-recipe .recipe-recommended__product-time {
    font-size: 12px;
  }

  .collection-recipe .recipe-recommended__product-description {
    padding-inline: 8px;
  }

  .collection-recipe .search__container {
    margin-inline: auto;
    width: 90%;
  }

  .collection-recipe .RecipeResults__GridItem {
    width: 50%;
    padding-inline: 4px;
    margin-bottom: 32px;
  }

  .collection-recipe .collection-recipe__grid {
    gap: 8px;
  }
  .collection-recipe .collection-recipe__product-block {
    min-width: 45%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
